'comment': ''
'fileTypes': [
  'lisp-repl'
]
'name': 'Lisp REPL'
'patterns': [
  {
    'match': '^([\\w\\-*+:]+>)'
    'name': 'repl-prompt.keyword.control.lisp'
  }
  {
    'match': '#<[^\\(\\)]*>'
    'name': 'constant.language.lisp'
  }


  {'include': 'source.lisp'}
]
'scopeName': 'source.lisp-repl'
